@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';
@use '../../styles/colours';

.recommendation {
  background: colours.$recommendation-background;
  border: 1px solid colours.$recommendation-border;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: minmax(min-content, max-content) 1fr;
  margin-bottom: utils.rem(spacing.$large);

  > * {
    padding: utils.rem(spacing.$small) utils.rem(spacing.$medium);
  }
}

.id {
  border-bottom: 1px solid colours.$recommendation-border;
  border-right: 1px solid colours.$recommendation-border;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.updated {
  border-bottom: 1px solid colours.$recommendation-border;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.description {
  border-bottom: 1px solid colours.$recommendation-border;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.linkList {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  list-style: none;
  margin: 0;

  li {
    border-right: 1px solid colours.$recommendation-border;
    margin: 0 1rem 0 0;
    padding-right: 1rem;

    &:last-child {
      border-right: 0;
      margin-right: 0;
    }
  }
}
