@use '@nice-digital/nds-core/scss/colours/tokens/global' as *;

// Guidance warning
$guidance-warning-background: #ffeb3b; // Matching the Covid banner for now... do we want this to come from/be added to the palette though?

// Recommendations
$recommendation-background: $white;
$recommendation-border: $nice-cream-3;

// Accordion group
$accordion-group-heading-background: $nice-teal;
$accordion-group-heading-text: $white;

// Accordion
$accordion-border: $nice-teal;
$accordion-background: $white;
$accordion-hover-background: $black-tint-3;
