@use '@nice-digital/nds-core/scss/colours/tokens/global' as *;

// Guidance warning
$guidance-warning-background: #ffeb3b; // Matching the Covid banner for now... do we want this to come from/be added to the palette though?

// Recommendations
$recommendation-background: $white;
$recommendation-border: $nice-cream-3;
